<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/style.css">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
		{% block body %}
        <div class="menu">
            <a class="menu-item" href="{{ path('post') }}">Accueil</a>
            {% if is_granted('ROLE_AUTHOR') %}
                <a class="menu-item" href="{{ path('post_add') }}">Ajouter Post</a>
            {% endif %}
        </div>
        <div class="title">
            <h1>{% block mainTitle %}BLOG{% endblock %}</h1>
        </div>
        <div class="full-content">
            <div class="main-content">
                {% block content %}Aucun résultat.{% endblock %}
            </div>
            <aside class="sidebar">
                <div class="user-connected">
                    <div class="logo">{% block logo %}Logo{% endblock %}</div>
                    <p class="username">{% block username %}Username{% endblock %}</p>
                </div>
            </aside>
        </div>
		{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
